{% extends 'app/base.html' %}

{% block content %}
<h1 class="mb-4 mb-sm-3">Check user status</h1>
{% if error %}
<p class="alert alert-danger">{{ error }}</p>
{% endif %}
<form class="mb-5 mb-sm-4" method="GET">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Enter username" value="{{ request.GET.username }}">
    </div>
    <button type="submit" class="btn btn-primary">Check</button>
</form>

{% if quser %}  
    <h3>About <span style="color: {{ quser.soldier.get_color.0 }};">{{ quser }}</span>{% if quser.soldier.rank %}<img src="static/app/{{ quser.soldier.rank }}.png" style="height: 64px;margin-left: 20px;">{% endif %}</h3>

    <table class="table mb-5 mb-sm-4">
        <tr>
            <th>Rank</th>
            <td>{% if currentuser.soldier.rank %}{{ currentuser.soldier.get_rank_display }}{% else %}Unset{% endif %}</td>
        </tr>                
        <tr>
            <th>Join date</th>
            <td>{{ quser.date_joined }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{% if status.0.status == "OK" %} OK {% else %} Failed {% endif %} (as of {{ status.0.datetime }})</td>
        </tr>
        <tr>
            <th>Days since registration</th>
            <td>{{ days_since_registration_days }} day{% if days_since_registration_days > 1%}s{% endif %}, {{ days_since_registration_hours }} hour{% if days_since_registration_hours > 1 %}s{% endif %}</td>
        </tr>
    </table>

    <h3>Check-In History</h3>
    <table class="table mb-5 mb-sm-4">
        {% for s in status %}
        <tr>
            <th>{{ s.datetime }}</th>
            <td>{% if s.status == "OK" %} OK {% else %} Failed {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p class="alert alert-primary">Enter the username of the person you want to check.</p>
{% endif %}

{% endblock %}